#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% macro check_patch_postcompare_failure(v_post_check) %}
{% if ((v_post_check['post_check_fail'] | bool) or  
       (v_post_check['desired_kernel_diff'] | bool) or 
       (v_post_check['post_check_script_diff'] | bool) or 
       (v_post_check['running_svcs_diff'] | bool) or 
       (v_post_check['mount_points_diff'] | bool))  %}
true
{% else %}
false
{% endif %}
{% endmacro %}

{% macro check_patch_failure(v_post_check) %}
{% if ((v_post_check['post_check_fail'] | bool) or  
       (v_post_check['desired_kernel_diff'] | bool))  %}
true
{% else %}
false
{% endif %}
{% endmacro %}

{% macro check_postcompare_failure(v_post_check) %}
{% if ((v_post_check['post_check_script_diff'] | bool) or 
       (v_post_check['running_svcs_diff'] | bool) or 
       (v_post_check['mount_points_diff'] | bool))  %}
true
{% else %}
false
{% endif %}
{% endmacro %}