    <!-- This is a 'child' template sourced from our master report template. -->
    <!-- To reference a host's facts, use our loop variable named thehost, i.e. hostvars[thehost]['some_fact'] -->
    <hr>
    <h2 id="{{ thehost }}">{{ thehost }}</h2>
    <!-- 
      If the host is in ansible_play_hosts_all and in the post_check[inventory_hostname] then its a success_list
      If the host is not in post_check vars then there was a failure in either pre,patch or post.
    -->
    {% if pre_check[thehost] is not defined %}
    <!-- If pre_check does not have this host that means it was unreachable. So we wont have any info -->
        <p style="color:red;"><strong>Host was unavailable at the time of this job; please investigate</strong></p>
    {% else %} 
        {% set v_pre_check = {{ pre_check[v_hostname] }} %}
        {% set v_os_update = {{ os_update[v_hostname] }} %}
        {% set v_post_check = {{ post_check[v_hostname] }} %}
      {% if ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool ) %}
        <!-- When all fail flags are false then the patch should be success -->
        <!-- HOST INFO -->
            <hr>
            <p><strong>Host info:</strong></p>
              <ul>
                <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
                <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
              </ul>  
        <!-- Patch Status Info -->      
            <p><strong>Patch Status:</strong></p>
              <table>
                <tr>
                  <th>Task</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>Pre-Checks</td>
                  {% if v_pre_check['pre_check_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <td class="status-completed">Success</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>OS Updates</td>
                  {% if v_os_update['patch_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <td class="status-completed">Success</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Post-Checks</td>
                  {% if v_post_check['post_check_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <!--  if we have post_check_script_diff or post_check_services_diff length gt 0 then we have some issues -->
                    {% if (v_post_check['post_check_script_diff']) or ( v_post_check['post_check_services_diff'] | length > 0 ) %}
                    <td class="status-in-progress">Post Check found some differences. Please check below</td>
                    {% else %}
                    <td class="status-completed">Success. All good.</td>
                    {% endif %}
                  {% endif %}
                </tr>
              </table>
        <p><strong>Post Check Comparision: Running Services difference </strong></p>
        <div class="code">
        <pre>
{{ post_check['post_check_services_diff'] | default('no output') | trim }}
        </pre>
      </div>   
        <p><strong>Post Check Comparision: Post Check Script Output</strong></p>
        <div class="code">
        <pre>
{{ post_check['post_check_script_out'] | default('no output') | trim }}
        </pre>
      </div>  

      {% elif (v_pre_check['pre_check_fail']|bool) or (v_os_update['patch_fail']|bool) or (v_post_check['post_check_fail']|bool )%}
          <p style="color:red;"><strong>Patching Unsuccessful. Please see details below.</strong></p>        
        <!-- HOST INFO -->
            <hr>
            <p><strong>Host info:</strong></p>
              <ul>
                <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
                <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
              </ul>  
        <!-- Patch Status Info -->      
            <p><strong>Patch Status:</strong></p>
              <table>
                <tr>
                  <th>Task</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>Pre-Checks</td>
                  {% if v_pre_check['pre_check_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <td class="status-completed">Success</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>OS Updates</td>
                  {% if v_os_update['patch_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <td class="status-completed">Success</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>Post-Checks</td>
                  {% if v_post_check['post_check_fail']|bool %}
                    <td class="status-failed"> Failed. Pl. check details below</td>
                  {% else %}
                    <!--  if we have post_check_script_diff or post_check_services_diff length gt 0 then we have some issues -->
                    {% if (v_post_check['post_check_script_diff']) or ( v_post_check['post_check_services_diff'] | length > 0 ) %}
                    <td class="status-in-progress">Post Check found some differences. Please check below</td>
                    {% else %}
                    <td class="status-completed">Success. All good.</td>
                    {% endif %}
                  {% endif %}
                </tr>
              </table>
        <p><strong>Post Check Comparision: Running Services difference </strong></p>
        <div class="code">
        <pre>
{{ post_check['post_check_services_diff'] | default('no output') | trim }}
        </pre>
      </div>   
        <p><strong>Post Check Comparision: Post Check Script Output</strong></p>
        <div class="code">
        <pre>
{{ post_check['post_check_script_out'] | default('no output') | trim }}
        </pre>
      </div>        
      {% endif %}
       
    {% endif %}
    
    {% if hostvars[thehost]['hostname'] is defined %}
      {% set v_hostname = hostvars[thehost]['hostname'] %}
      {% set v_has_ran_postchecks = true %}
      {% set v_pre_check = {{ pre_check[v_hostname] }} %}
      {% set v_os_update = {{ os_update[v_hostname] }} %}
      {% set v_post_check = {{ post_check[v_hostname] }} %}
    {% else %}
      {% set v_has_ran_postchecks = false %}
    {% endif %}

    <!-- Check the Each stage status -->
    {% if (pre_check[thehost] is defined) and (pre_check[thehost]['pre_check_fail'] is defined) and ( pre_check[thehost]['pre_check_fail']  == false ) %}
      {% set v_pre_check_status = true %}
    {% else %}
      {% set v_pre_check_status = false %}
    {% endif %}

    {% if (os_update[thehost] is defined) and (os_update[thehost]['patch_fail'] is defined) and ( os_update[thehost]['patch_fail']  == false ) %}
      {% set v_os_update_status = true %}
    {% else %}
      {% set v_os_update_status = false %}
    {% endif %}

    {% if (post_check[thehost] is defined) and (post_check[thehost]['pre_check_fail'] is defined) and ( post_check[thehost]['pre_check_fail']  == false ) %}
      {% set v_post_check_status = true %}
    {% else %}
      {% set v_post_check_status = false %}
    {% endif %}

    {% if (v_hostname is defined) and  (v_pre_check['pre_check_fail'] is defined) and ( v_pre_check['pre_check_fail']  == false ) %}
      {% set v_pre_check_status = true %}
    {% else %}
      {% set v_pre_check_status = false %}
    {% endif %}

    {% if (v_hostname is defined) and  (v_os_update['patch_fail'] is defined) %}
      {% set v_os_update_status = {{ v_os_update['patch_fail'] | bool}} %}
    {% else %}
      {% set v_os_update_status = false %}
    {% endif %}

    {% if (v_hostname is defined) and  (v_post_check['post_check_fail'] is defined) %}
      {% set v_post_check_status = {{ v_post_check['post_check_fail'] | bool}} %}
    {% else %}
      {% set v_post_check_status = false %}
    {% endif %}

    {% if (v_has_ran_postchecks) and (post_check[v_hostname] is defined)  and (not post_check[v_hostname]['post_check_fail']) %}
    <!-- The host patching is a success. Put all contents here -->
    {% set v_pre_check = {{ pre_check[v_hostname] }} %}
    {% set v_os_update = {{ os_update[v_hostname] }} %}
    {% set v_post_check = {{ post_check[v_hostname] }} %}
    <!-- HOST INFO -->
    <hr>
    <p><strong>Host info:</strong></p>
      <ul>
        <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
        <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
    </ul>
    <!-- Table with Pre ,Patch and Post Status -->
    <table>
      <tr>
        <th>Task</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Pre-Checks</td>
        {% if v_pre_check['pre_check_fail']|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
      <tr>
        <td>OS Updates</td>
        {% if v_os_update['patch_fail']|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
      <tr>
        <td>Post-Checks</td>
        {% if v_post_check['post_check_fail']|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
    </table>
    <!-- PRECHECK INFO -->
    <p><strong>Pre-Check Details:</strong></p>

    <!-- PATCH INFO -->
    <!-- POSTCHECK INFO -->
    
    {% else %}
    <hr>
    <!-- The host patching is a failure. Put all contents here -->
    <p style="color:red"><strong>Host encountered issues during patch execution, see information below.</strong></p>{% endif %}
    <!-- HOST INFO -->
  
    <p><strong>Host info:</strong></p>
      <ul>
        <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
        <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
    </ul>

    <!-- Table with Pre ,Patch and Post Status -->
    <table>
      <tr>
        <th>Task</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Pre-Checks</td>       
        {% if {{ (v_pre_check['pre_check_fail']|bool) if (v_pre_check['pre_check_fail'] is defined) else true }}|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
      <tr>
        <td>OS Updates</td>
        {% if {{ (v_os_update['patch_fail']|bool) if (v_os_update['patch_fail'] is defined) else true }}|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
      <tr>
        <td>Post-Checks</td>
        {% if v_post_check['post_check_fail']|bool %}
          <td class="status-failed"> Failed. Pl. check details below</td>
        {% else %}
          <td class="status-completed">Success</td>
        {% endif %}
      </tr>
    </table>
    {% endif %}
    
    

    <!-- If host was missing, give a generic error. Otherwise, print facts and job output. Use default() to guard against missing variables. -->
    {% if hostvars[thehost]['missing']|bool %}

      <p style="color:red;"><strong>Host was unavailable at the time of this job; please investigate</strong></p>

    {% else %}

      {% if not hostvars[thehost]['job_success']|bool %}<p style="color:red"><strong>Host encountered issues during job execution, see information below.</strong></p>{% endif %}

      <p><strong>Host info:</strong></p>
      <ul>
        <li>OS: {{ hostvars[thehost]['ansible_distribution'] | default('N/A') }} {{ hostvars[thehost]['ansible_distribution_version'] | default('N/A') }}, Kernel: {{ hostvars[thehost]['ansible_kernel'] | default('N/A') }}
        <li>IP addresses: {{ hostvars[thehost]['ansible_all_ipv4_addresses'] | d(['unknown']) | join(', ') }}</li>
      </ul>

      <p>Job Status: <strong>{% if hostvars[thehost]['job_success']|bool %}Success{% else %}Failed{% endif %}</strong></p>

      <!-- We don't indent anything between 'pre' tags , because the space will be taken literally -->
      <p><strong>Command 1 output:</strong></p>
      <div class="code">
        <pre>
{{ hostvars[thehost]['cmd1_results']['stdout'] | default('no output') | trim }}
        </pre>
      </div>

      {% if hostvars[thehost]['cmd1_results']['stderr_lines'] | d([]) | length > 0 %}
        <!-- This code snippet will only appear if our command task had any lines printed to stderr -->
        <p><strong>Command 1 errors:</strong></p>
        <div class="code">
          <pre>
{{ hostvars[thehost]['cmd1_results']['stderr'] | default('no output') | trim }}
          </pre>
        </div>
      {% endif %}

    {% endif %}