{% raw %} 
<html>
<head>
  <!-- Viewport options can make the page scale better on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style> 
  <!-- CSS styling for our HTML report -->
{% endraw %}
  {% include './stylesheet.css.j2' %}
{% raw %} 
  </style>
</head>
{% endraw %}

{% raw %} 
<body>
  <!-- This is our left-hand menu and navigation bar.
  We will generate links for each host, breaking them up by job status. 
  The color / style for failed and missing hosts can be tuned in playbook vars. -->

  <div class="sidenav">
    <p><a style="text-align:center;font-weight:bold;font-size:medium" href="#summary">Summary</a></p>
    <hr>
    <p>Host Results</p> 
{% endraw %}

    {% for thehost in ansible_play_hosts_all | sort %}
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = post_check[thehost] %}
      {% if pre_check[thehost] is not defined %}
        <a class=missing-style href="#{{ thehost }}">{{ thehost }}</a>
      {% elif ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool ) %}
        <a href="#{{ thehost }}">{{ thehost }}</a>
      {% else %}
         <a class=failed-style href="#{{ thehost }}">{{ thehost }}</a>
      {% endif %}
    {% endfor %}


{% raw %} </div> {% endraw %}

{% raw %} 
  <div class="content">
    <h1 id="top">Patch Status Report</h1>
    <hr>
    <h1 id="summary">Summary</h1>
    <!-- Create a table for each hosts -->
    <table>
      <tr>
        <th>Server</th>
        <th>Patch Status</th>
      </tr> 
{% endraw %}

    {% for thehost in ansible_play_hosts_all | sort %}
    
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = post_check[thehost] %}

    <tr>
      <td><a href="#{{ thehost }}">{{ thehost }}</a></td>      
      {% if pre_check[thehost] is not defined %}
        <td class="status-missing">Unreachable</td>

      {% elif ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool ) %}

    {% raw %}           <!--  if we have post_check_script_diff or post_check_services_diff length gt 0 then we have some issues --> {% endraw %}

       TESTING HERE 
      {% else %}
        <td class="status-failed">Failed. Please check the details below</td>
         <a class=failed-style href="#{{ thehost }}">Failed. Please check the details below</a>
      {% endif %}

    </tr>
    {% endfor %}

    {% for thehost in ansible_play_hosts_all | sort %}
      {% include './patch_report_host.j2' %}
    {% endfor %}
    
{% raw %}     
    <hr>
    <p><i>Generated by Ansible</i></p>
  
  </div>
</body>
</html> 
{% endraw %}
