<html>
{% import 'check_patch_failures.j2' as tools with context %}


<head>
  {# Viewport options can make the page scale better on mobile #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style> 
  {# CSS styling for our HTML report #}
  {% include './stylesheet.css.j2' %}
{% raw %} 
  </style>
</head>
{% endraw %}
  

<body>
  {# This is our left-hand menu and navigation bar.
  We will generate links for each host, breaking them up by job status. 
  The color / style for failed and missing hosts can be tuned in playbook vars. #}

{% raw %} 
  <div class="sidenav">
    <p><a style="text-align:center;font-weight:bold;font-size:medium" href="#summary">Summary</a></p>
    <hr>
    <p>Host Results</p> 
{% endraw %}
    {% for thehost in ansible_play_hosts | sort %}
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = hostvars[thehost] %}
      {# if any of the post check failed then put the host it in red #}  
      {% if (tools.check_patch_postcompare_failure(v_post_check) | trim | bool) %}
        <a {% raw %}style="color:orangered"{% endraw %} href="#{{ thehost }}">{{ thehost }}</a>
      {% else %}
         <a href="#{{ thehost }}">{{ thehost }}</a>
      {% endif %}
    {% endfor %}
  </div>


  <div class="content">
    <h1 id="top">Patch Status Report</h1>
    <h4>{% raw %}Generated time: {% endraw %} {{ hostvars.localhost.datetime }}</h4>
    <h4>{% raw %}Application Name: {% endraw %} {{ v_app_name }}</h4>
    <h4>{% raw %}Server Type: {% endraw %} {{ v_server_type }}</h4>
    <hr>
    <h1 id="summary">Summary</h1>
    {# Create a table for each hosts #}
    <table>
      <tr>
        <th>Server</th>
        <th>Pre-Patch Kernel Version</th>
        <th>Required Kernel Version</th>
        <th>Post-Patch Kernel Version</th>
        <th>Patch Status</th>
        <th>Post-Patch Uptime</th>
      </tr> 
    {# Set the initial counts #}
    {% set ttl = namespace() %}
    {% set ttl.total = 0 %}
    {% set ttl.success = 0 %}
    {% set ttl.failed = 0 %}
    {% set ttl.unreachable = 0 %}
    {% set ttl.partialsuccess = 0 %}

    {% for thehost in ansible_play_hosts | sort %}
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = hostvars[thehost] %}
        {% set ttl.total = ttl.total + 1 %}
      <tr>
        <td><a href="#{{ thehost }}">{{ thehost }}</a></td>   
        {% if (tools.check_patch_postcompare_failure(v_post_check) | trim | bool)  %}
          {# Patching Failed in the process #}
            {% set ttl.failed =  ttl.failed + 1 %}
            {% if  v_pre_check['pre_check_facts']['kernel_version'] is defined %}            
              <td>{{ v_pre_check['pre_check_facts']['kernel_version'] | default('UNKNOWN') }}</td>
              <td>{{ v_post_check['desired_kernel_ver'] | default('UNKNOWN') }}</td>
              <td class="{{ 'status-failed' if (v_post_check['desired_kernel_diff'] | bool) else 'status-completed'  }}">{{ v_post_check['ansible_facts']['kernel_version'] | default('N/A') }}</td>  
            {% else %}
              <td class="status-failed">UNKNOWN</td>
              <td class="status-failed">UNKNOWN</td>
              <td class="status-failed">UNKNOWN</td>
            {% endif %}
          <td class="{{ 'status-failed' if (v_post_check['post_check_fail'] | bool) else 'status-in-progress'  }}">Failed. Please check the details below</td>
          <td class="{{ 'status-failed' if (v_post_check['post_check_fail'] | bool) else 'status-in-progress'  }}">{{ v_post_check['post_uptime'] | default('') }}</td>
        {% else %}
          {# Patching Successful #}
            {% set ttl.success = ttl.success + 1 %}
            <td>{{ v_pre_check['pre_check_facts']['kernel_version'] | default('N/A') }}</td>
            <td>{{ v_post_check['desired_kernel_ver'] | default('UNKNOWN') }}</td>
            <td class="{{ 'status-failed' if (v_post_check['desired_kernel_diff'] | bool) else 'status-completed'  }}">{{ v_post_check['ansible_facts']['kernel_version'] | default('N/A') }}</td>
            <td class="status-completed"">Success</td>
            <td class="status-completed">{{ v_post_check['post_uptime'] | default('') }}</td>             
        {% endif %}
      </tr>
    {% endfor %}
    </table>

    {# Add the summary of host counts and status table #}
    <br>
    <table>
      <tr>
        <th>Total Nodes</th>
        <th>Success</th>
        <th>Failed</th>
      </tr>
      <tr>
        <th>{{ ttl.total }}</th>
        <td>{{ ttl.success }}</td>
        <td>{{ ttl.failed }}</td>
      </tr>
    </table>
    <hr>
    <h1 id="patch_details">Patch Details</h1>

    {% for thehost in ansible_play_hosts | sort %}
      {% include './postcheck_patch_report_host.j2' %}
    {% endfor %}
    
{% raw %}     
    <hr>
    <p><i>Generated by Ansible</i></p>
  
  </div>
</body>
</html> 
{% endraw %}
