* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: {{ nav_width | default('200px') }};
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: normal;
  font-size: small;
}

/* Side navigation text */
.sidenav p {
  color: lightgray;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-weight: bold;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: {{ nav_width | default('200px') }};
  padding-left: 10px;
}

/* Used for any "command output" boxes */
.code {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: 100%;
  font-family: monospace;
  margin-bottom: 1em;
  padding: 10px;
  width: 95%;
}

/* Enable smart text-wrapping for any 'pre' tags (command output) */
pre { white-space: pre-wrap; }

/* Misc. formatting for tables, headers, etc */
/* h2 {color: blue;}
h3 {color: blue;} */

/*
table { border:1px solid grey; }
th {
  padding: 2px;
  border: 1px solid grey;
}
td { padding: 2px; }
*/

table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.status-missing {
  background-color: grey;
  color: white;
}

.status-completed {
  background-color: green;
  color: white;
}

.status-in-progress {
  background-color: yellow;
}

.status-failed {
  background-color: red;
  color: white;
}

.failed-style{
color:orangered;
}

.missing-style{
color:grey;
text-decoration:line-through;
}

.card-note {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  border-left: 6px solid green;
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}


.card-host {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1); /* this adds the "card" effect */
  /* border-left: 6px solid #9BFBD4;  */
  padding: 16px;
  text-align: left;
  width: 100%;
  background-color: #f1f1f1; 
}


.card-host-success {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); 
  /* border-left: 6px solid #9BFBD4;  */
  padding: 16px;
  text-align: center;
  background-color: #00A8A5;
}

.card-host-inprogress {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); 
  /* border-left: 6px solid #9BFBD4;  */
  padding: 16px;
  text-align: center;
  background-color: #F5D547;
}

.card-host-fail {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2); 
  /* border-left: 6px solid #9BFBD4;  */
  padding: 16px;
  text-align: center;
  background-color: #FF7F61;
}

.text-color {
  
  color: #B03B27;
}
.text-success {
  color: #2E702B;
}
.text-inprogress {
  color: #A18225;
}
.text-fail {
  color: #B03B27;
}