patchlogs:
  pre_check: 
    {{ pre_check | to_nice_yaml(indent=2, width=1337)}}
  os_update: 
    {{ os_update | to_nice_yaml(indent=2, width=1337)}}
  post_check: 
    {{ post_check | to_nice_yaml(indent=2, width=1337)}}


