h4. sample server status

| **ServerName** | **Status** | **Results**           |
|----------------|------------|-----------------------|
| ServerA        | Success    |                       |
| ServerB        | Fail       | Failed at FolderCheck |