<html>
<head>
  {# Viewport options can make the page scale better on mobile #}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style> 
  {# CSS styling for our HTML report #}
  {% include './stylesheet.css.j2' %}
{% raw %} 
  </style>
</head>
{% endraw %}
  

<body>
  {# This is our left-hand menu and navigation bar.
  We will generate links for each host, breaking them up by job status. 
  The color / style for failed and missing hosts can be tuned in playbook vars. #}

{% raw %} 
  <div class="sidenav">
    <p><a style="text-align:center;font-weight:bold;font-size:medium" href="#summary">Summary</a></p>
    <hr>
    <p>Host Results</p> 
{% endraw %}


    {% for thehost in ansible_play_hosts_all | sort %}
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = post_check[thehost] %}
      {% if pre_check[thehost] is not defined %}
        {# TODO: currently the class (missing-style, failed-style) values are overwritten. Need to fix it. For now, we will just use the in-line style#}
        {% raw %}<a style="text-decoration:line-through;color:grey"{% endraw %} href="#{{ thehost }}">{{ thehost }}</a>
      {% elif ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool ) %}
        <a href="#{{ thehost }}">{{ thehost }}</a>
      {% else %}
         <a {% raw %}style="color:orangered"{% endraw %} href="#{{ thehost }}">{{ thehost }}</a>
      {% endif %}
    {% endfor %}


  </div>


  <div class="content">
    <h1 id="top">Patch Status Report</h1>
    <hr>
    <h1 id="summary">Summary</h1>
    {# Create a table for each hosts #}
    <table>
      <tr>
        <th>Server</th>
        <th>Pre-Patch Kernel Version</th>
        <th>Required Kernel Version</th>
        <th>Post-Patch Kernel Version</th>
        <th>Patch Status</th>
      </tr> 
    {# Set the initial counts #}
    {% set ttl = namespace() %}
    {% set ttl.total = 0 %}
    {% set ttl.success = 0 %}
    {% set ttl.failed = 0 %}
    {% set ttl.unreachable = 0 %}
    {% set ttl.partialsuccess = 0 %}

    {% for thehost in ansible_play_hosts_all | sort %}
    
        {% set v_pre_check =  pre_check[thehost] | default({}) %}
        {% set v_os_update =  os_update[thehost]  %}
        {% set v_post_check = post_check[thehost] %}
        {% set ttl.total = ttl.total + 1 %}
      <tr>
        <td><a href="#{{ thehost }}">{{ thehost }}</a></td>   
        {% if pre_check[thehost] is not defined %}
          {% set ttl.unreachable = ttl.unreachable + 1 %}
    
          <td class="status-missing">NA</td>
          <td class="status-missing">NA</td>
          <td class="status-missing">NA</td>
          <td class="status-missing">Unreachable</td>
        {% elif ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool )  %}
          {# Get required kernel version based on the OS Version #}
          {% if v_post_check['post_check_facts']['distribution_major_version'] == '7' %}
            {% set required_kernel_ver = rhel7_reqd_kernel_ver %}
          {% elif v_post_check['post_check_facts']['distribution_major_version'] == '8' %}
            {% set required_kernel_ver = rhel8_reqd_kernel_ver %}
          {% else %}
            {% set required_kernel_ver = 'UNKNOWN' %}
          {% endif %}

            <td>{{ v_pre_check['pre_check_facts']['kernel'] | default('N/A') }}</td>
            <td>{{ required_kernel_ver | default('N/A') }}</td>
            <td class="{{ 'status-completed' if (v_post_check['post_check_facts']['kernel'] == required_kernel_ver) else 'status-failed'  }}">{{ v_post_check['post_check_facts']['kernel'] | default('N/A') }}</td>
            {% if ( not v_pre_check['pre_check_fail']|bool) and (not v_os_update['patch_fail']|bool) and (not v_post_check['post_check_fail']|bool ) and (v_post_check['post_check_facts']['kernel'] == required_kernel_ver) %}
              {#  if we have post_check_script_diff or post_check_services_diff length gt 0 then we have some issues #} 
              {% if (v_post_check['post_check_script_diff']) or ( v_post_check['post_check_services_diff'] | length > 0 ) %}
                  <td class="status-in-progress">Patch Completed but Post Check found some differences. Please check the details</td>
                  {% set ttl.partialsuccess = ttl.partialsuccess + 1 %}
                {% else %}
                  <td class="status-completed">Success. All good.</td>
                  {% set ttl.success = ttl.success + 1 %}
                {% endif %}
            {% else %}
              <td class="status-failed">Failed. Please check the details below</td>
              
            {% endif %}
        {% else %}
          {# Patching Failed in the process #}
            {% set ttl.failed = set ttl.failed + 1 %}
            {% if  v_pre_check['pre_check_facts']['kernel'] is defined %}            
              <td>{{ v_pre_check['pre_check_facts']['kernel'] | default('UNKNOWN') }}</td>
                  {% if v_pre_check['pre_check_facts']['distribution_major_version'] == '7' %}
                    {% set required_kernel_ver = rhel7_reqd_kernel_ver %}
                  {% elif v_pre_check['pre_check_facts']['distribution_major_version'] == '8' %}
                    {% set required_kernel_ver = rhel8_reqd_kernel_ver %}
                  {% else %}
                    {% set required_kernel_ver = 'UNKNOWN' %}
                  {% endif %} 
              <td>{{ required_kernel_ver | default('UNKNOWN') }}</td>
                  {% if v_post_check['post_check_facts']['kernel'] is defined %}
                    <td class="{{ 'status-completed' if (v_post_check['post_check_facts']['kernel'] == required_kernel_ver) else 'status-failed'  }}">{{ v_post_check['post_check_facts']['kernel'] | default('N/A') }}</td>
                  {% else %}
                    <td class="status-failed">UNKNOWN</td>
                  {% endif %}       
            {% else %}
              <td class="status-failed">UNKNOWN</td>
              <td class="status-failed">UNKNOWN</td>
              <td class="status-failed">UNKNOWN</td>
            {% endif %}
          <td class="status-failed">Failed. Please check the details below</td>
        {% endif %}
      </tr>

    {% endfor %}
    </table>
    {# Add the summary of host counts and status table #}
    
    <table>
      <tr>
        <th>Total Nodes</th>
        <th>Success</th>
        <th>Partial Success</th>
        <th>Failed</th>
        <th>Unreachable</th>
      </tr>
      <tr>
        <td>{{ ttl.total }}</td>
        <th>{{ ttl.success }}</th>
        <th>{{ ttl.partialsuccess }}</th>
        <th>{{ ttl.failed }}</th>
        <th>{{ ttl.Unreachable }}</th>
      </tr>
    </table>
    <hr>
    <h1 id="patch_details">Patch Details</h1>

    {% for thehost in ansible_play_hosts_all | sort %}
      {% include './patch_report_host.j2' %}
    {% endfor %}
    
{% raw %}     
    <hr>
    <p><i>Generated by Ansible</i></p>
  
  </div>
</body>
</html> 
{% endraw %}
